/* You might not want to touch these first few lines */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Edit the values of these variables to configure simplicity */
:root {
  --simplicity-darkbg: #000000;
  --simplicity-lightbg: #FFFFFF;
  --simplicity-dark-fontcolor: #FFFFFF;
  --simplicity-light-fontcolor: #000000;
  --simplicity-heading-text-size: 30pt;
  --simplicity-global-font-family: 'Roboto, sans-serif';
  --simplicity-global-fontsize: 15pt;
}
