/* SimplicityCSS */
/* A simple but modern stylesheet written by JaydenDev */
/* Designed to be simple, easy to modify, easy to fork, and easy to read and use. */
/* To configure, edit the config.css file */
@import 'config.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Dark Theme: --simplicity-darkbg Light Theme: --simplicity-lightbg */
body {
    background: var(--simplicity-darkbg);
}

/* Headings */
h1, h2, h3, h4 {
    font-family: var(--simplicity-global-font-family);
    font-size: var(--simplicity-heading-text-size);
}

/* Text <p> */
p {
    color: var(--simplicity-dark-fontcolor);
    font-family: var(--simplicity-global-font-family);
    font-size: var(--simplicity-global-fontsize);
}

/* Buttons <button> */
/* Configuration for buttons are not in the config file yet! */
button {
    color: var(--simplicity-dark-fontcolor);
    font-family: var(--simplicity-global-font-family);
    font-size: 15pt;
    background-color: white;
    padding: 8pt 16pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* If you use the light mode, use this div class with your button <button class="lightbutton"> */
.lightbutton {
    color: var(--simplicity-light-fontcolor);
    font-family: var(--simplicity-global-font-family);
    font-size: 15pt;
    background-color: black;
    padding: 8pt 16pt;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


